*~
#*
auto-save-list/
eln-cache/
history
projects.eld
elpa/
transient/
tree-sitter/
places.eld
.cache/
.lsp-session-v1
/.agent-shell/
recentf.eld
*.elc
/url
/eshell
fontaine-latest-state.eld
.mc-lists.el
persp-state.el
*-tabspaces-session.el
tabsession.el
bookmarks
tramp
